//Comforter =====================================================================================================

@font-face {
    font-family: 'Comforter';
    src:
        url('../fonts/Comforter/Comforter-Regular_400.eot') format('opentype'),
        url('../fonts/Comforter/Comforter-Regular_400.ttf') format('truetype'),
        url('../fonts/Comforter/Comforter-Regular_400.woff') format('woff'),
        url('../fonts/Comforter/Comforter-Regular_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

//Fredericka =====================================================================================================

@font-face {
    font-family: 'Fredericka';
    src: 
        url('../fonts/Fredericka/Fredericka_the_Great_Regular_400.eot') format('opentype'),
        url('../fonts/Fredericka/Fredericka_the_Great_Regular_400.ttf') format('truetype'),
        url('../fonts/Fredericka/Fredericka_the_Great_Regular_400.woff') format('woff'),
        url('../fonts/Fredericka/Fredericka_the_Great_Regular_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

//Gabelisa =====================================================================================================

@font-face {
    font-family: 'Gabelisa';
    src: 
        url('../fonts/Gabelisa/Gabelisa_Regular_400.eot') format('opentype'),
        url('../fonts/Gabelisa/Gabelisa_Regular_400.ttf') format('truetype'),
        url('../fonts/Gabelisa/Gabelisa_Regular_400.woff') format('woff'),
        url('../fonts/Gabelisa/Gabelisa_Regular_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

//Montserrat =====================================================================================================

@font-face {
    font-family: 'Montserrat';
    src: 
        url('../fonts/Montserrat/Montserrat_Regular_400.eot') format('opentype'),
        url('../fonts/Montserrat/Montserrat_Regular_400.ttf') format('truetype'),
        url('../fonts/Montserrat/Montserrat_Regular_400.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat_Regular_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: 
        url('../fonts/Montserrat/Montserrat_Bold_700.eot') format('opentype'),
        url('../fonts/Montserrat/Montserrat_Bold_700.ttf') format('truetype'),
        url('../fonts/Montserrat/Montserrat_Bold_700.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat_Bold_700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: 
        url('../fonts/Montserrat/Montserrat_ExtraBold_800.eot') format('opentype'),
        url('../fonts/Montserrat/Montserrat_ExtraBold_800.ttf') format('truetype'),
        url('../fonts/Montserrat/Montserrat_ExtraBold_800.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat_ExtraBold_800.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

//Neucha =====================================================================================================

@font-face {
    font-family: 'Neucha';
    src:
        url('../fonts/Neucha/Neucha_400.eot') format('opentype'),
        url('../fonts/Neucha/Neucha-Regular_400.ttf') format('truetype'),
        url('../fonts/Neucha/Neucha_400.woff') format('woff'),
        url('../fonts/Neucha/Neucha_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

//Roboto =====================================================================================================

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto/Roboto-Light_300.eot') format('opentype'),
        url('../fonts/Roboto/Roboto-Light_300.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Light_300.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Light_300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto/Roboto-Regular_400.eot') format('opentype'),
        url('../fonts/Roboto/Roboto-Regular_400.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Regular_400.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular_400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto/Roboto-Medium_500.eot') format('opentype'),
        url('../fonts/Roboto/Roboto-Medium_500.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Medium_500.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Medium_500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto/Roboto-Bold_700.eot') format('opentype'),
        url('../fonts/Roboto/Roboto-Bold_700.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Bold_700.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Bold_700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto/Roboto-Black_900.eot') format('opentype'),
        url('../fonts/Roboto/Roboto-Black_900.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Black_900.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Black_900.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

//TTNormsPro =====================================================================================================

@font-face {
    font-family: 'TTNormsPro';
    src: 
        url('../fonts/TTNormsPro/TTNormsPro-Light.eot') format('opentype'),
        url('../fonts/TTNormsPro/TTNormsPro-Light.ttf') format('truetype'),
        url('../fonts/TTNormsPro/TTNormsPro-Light.woff') format('woff'),
        url('../fonts/TTNormsPro/TTNormsPro-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTNormsPro';
    src:
        url('../fonts/TTNormsPro/TTNormsPro-Medium.eot') format('opentype'),
        url('../fonts/TTNormsPro/TTNormsPro-Medium.ttf') format('truetype'),
        url('../fonts/TTNormsPro/TTNormsPro-Medium.woff') format('woff'),
        url('../fonts/TTNormsPro/TTNormsPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: fac;
    src:
        url('../fonts/TTNormsPro/TTNormsPro-Bold.eot') format('opentype'),
        url('../fonts/TTNormsPro/TTNormsPro-Bold.ttf') format('truetype'),
        url('../fonts/TTNormsPro/TTNormsPro-Bold.woff') format('woff'),
        url('../fonts/TTNormsPro/TTNormsPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}











