$container-width: 1500px;

$font-title-h1: 45px;
$font-title-h2: 30px;
$font-size-main: 25px;

$margin-top: 50px;
$margin-top-small: 25px;
$margin-left: 50px;
$margin-left-small: 25px;
$margin-bottom: 50px;
$margin-bottom-small: 25px;
$margin-right: 50px;
$margin-right-small: 25px;

$padding-container: 55px 55px;
$padding-top: 50px;
$padding-top-small: 25px;
$padding-left: 50px;
$padding-left-small: 25px;
$padding-bottom: 50px;
$padding-bottom-small: 25px;
$padding-right: 50px;
$padding-right-small: 25px;

$color-a: #ffffff;
$color-b: #b1ecff;
$color-c: #b4d3fc;
$color-d: #8db4e5;
$color-e: #7ba4d2;
$color-f: #15c3fc;
$color-g: #5d93d5;
$color-h: #196c8e;
$color-i: #5B70A3;
$color-j: #1d3777;
$color-k: #18171a;
$color-l: #0d0701;
$color-m: #a77b3d;
$color-n: #fcb315;
$color-o: #ffff00;
$color-p: #c52c11;